@model IEnumerable<Biodata.Models.BiodataOrangTua>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

     @using (Html.BeginForm()){    
         <label> Search </label>
         <input type="text" name="searchname" placeholder="Name" />
         @Html.DropDownList("searchBiodataOrangTua")
         <input type="submit" value="Go" />
     }
</p> 
        

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamaI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamaAn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BiodataAnak.Nama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamaI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamaAn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alamat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BiodataAnak.Nama)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BiodataOrangTuaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BiodataOrangTuaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BiodataOrangTuaID })
        </td>
    </tr>
}

</table>
