@model CRUD.Models.Kasir

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Kasir</legend>

        @Html.HiddenFor(model => model.IDKasir)

        <div class="editor-label">
            @Html.LabelFor(model => model.NamaKasir)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NamaKasir)
            @Html.ValidationMessageFor(model => model.NamaKasir)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Alamat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Alamat)
            @Html.ValidationMessageFor(model => model.Alamat)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
