@model IEnumerable<MySchools.Models.Yayasan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @using (@Html.BeginForm())
    {
        <label> Search : </label>
        <input type="text" name ="searchAddress" />
        <input type="submit" value="Go" />
    }
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaYayasan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alamat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaYayasan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alamat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.YayasanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.YayasanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.YayasanID })
        </td>
    </tr>
}

</table>
