@model IEnumerable<MyCompany.Models.Murid>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaMurid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kelas.Nama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaMurid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kelas.Nama)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MuridID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MuridID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MuridID })
        </td>
    </tr>
}

</table>
