@model IEnumerable<PeminjamanBuku.Models.Buku>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (@Html.BeginForm())
    {
        <label>Search</label>
        <input type="text" name="searchName" placeholder="Name" />
        @Html.DropDownList("searchAnggota", "Anggota")

        <input type="submit" value="Go" />
    }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Judul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pengarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Penerbit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TahunTerbit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anggota.NamaAnggota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Judul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pengarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Penerbit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TahunTerbit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anggota.NamaAnggota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KodeBuku }) |
            @Html.ActionLink("Details", "Details", new { id=item.KodeBuku }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KodeBuku })
        </td>
    </tr>
}

</table>
