@model OnlineShop.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TanggalPembelian)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TanggalPembelian)
            @Html.ValidationMessageFor(model => model.TanggalPembelian)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Jumlah)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Jumlah)
            @Html.ValidationMessageFor(model => model.Jumlah)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NamaBarang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NamaBarang)
            @Html.ValidationMessageFor(model => model.NamaBarang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MerkBarang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MerkBarang)
            @Html.ValidationMessageFor(model => model.MerkBarang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Harga)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Harga)
            @Html.ValidationMessageFor(model => model.Harga)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerID, "Customer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerID", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
