@model IEnumerable<OnlineShop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm()){
<p>
        Search By: Nama Barang
        @Html.TextBox("searchNama")
        <input type="submit" value="Search" />
</p>
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TanggalPembelian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jumlah)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamaBarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MerkBarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Harga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Nama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TanggalPembelian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jumlah)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamaBarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MerkBarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Harga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Nama)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
