@model IEnumerable<Sekolah2.Models.Kelas>

@{
    ViewBag.Title = "Kelas";
}

<h2>Kelas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (@Html.BeginForm())
    {
        <label>Search: </label>
        <input type="text" name="searchJurusan" />
        <input type="submit" value="Go" />
    }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaKelas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jurusan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaKelas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jurusan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KelasID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KelasID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KelasID })
        </td>
    </tr>
}

</table>
