@model IEnumerable<PeminjamanBuku.Models.Anggota>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (@Html.BeginForm())
    {
    <label>Search :</label>
    <input type="text" name="searchName" />
    <input type="submit" value="Go" />
    }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaAnggota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TanggalLahir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TanggalMasuk)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaAnggota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TanggalLahir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alamat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TanggalMasuk)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoAnggota }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoAnggota }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoAnggota })
        </td>
    </tr>
}

</table>
