@model Perpustakaan.Models.Peminjaman

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Perpustakaan</legend>

        @Html.HiddenFor(model => model.Id_peminjaman)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nama_Peminjam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nama_Peminjam)
            @Html.ValidationMessageFor(model => model.Nama_Peminjam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tgl_Peminjaman)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tgl_Peminjaman)
            @Html.ValidationMessageFor(model => model.Tgl_Peminjaman)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Buku, "Buku")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_Buku", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_Buku)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
