@model IEnumerable<CRUD.Models.Barang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (@Html.BeginForm())
    {
        <label> SEARCH </label>
        <input type="text" name="searchName" placeholder="Name" />
        @Html.DropDownList("searchKasir", "Kasir")

        <input type="submit" value="Go" />
    }

</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaBarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Harga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stok)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kasir.NamaKasir)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaBarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Harga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stok)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kasir.NamaKasir)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDBarang }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDBarang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDBarang })
        </td>
    </tr>
}

</table>
