@model CRUD2tabel.Models.MahasiswaModels

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MahasiswaModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nama)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.alamat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alamat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jenis_kelamin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jenis_kelamin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IPK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IPK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FakultasModels.Fakultas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FakultasModels.Fakultas)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
